include README.md LICENSE pyproject.toml
include deep_gemm/_version.py
recursive-include deep_gemm *.py *.cuh *.h *.hpp
recursive-include third-party/cutlass/include *.hpp *.h *.cuh
prune third-party/cutlass/test
prune third-party/cutlass/examples
prune third-party/cutlass/docs
prune third-party/cutlass/media
global-exclude *.pyc __pycache__ .git*
