include README.md
include LICENSE
include pyproject.toml
include setup.py
include CMakeLists.txt
recursive-include deep_gemm *.py
recursive-include deep_gemm/include *.cuh *.h *.hpp
recursive-include third-party/cutlass/include/cute *.hpp *.h
recursive-include third-party/cutlass/include/cutlass *.hpp *.h *.cuh
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*